<md-toolbar color="primary">
  <div style="text-align:center">
    <h1>
      Welcome to Angular 1.x to Angular 4.x converter
    </h1>
  </div>
</md-toolbar>

<b>Supported features: </b>
<ul>
  <li>ng-repeat</li>
</ul>
<router-outlet></router-outlet>

<md-toolbar color="secondary" style="position:fixed; bottom: 0">
  <span class="example-spacer"></span>
  <span>By Balram Chavan -
    <a href="https://github.com/ultrasonicsoft">Github</a>
    <a href="linkedin.com/in/balram-chavan-957511116/">LinkedIn</a>
    </span>

</md-toolbar>