<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>
    <md-card class="example-card" style="width: 90%">
      <md-card-header>
        <md-card-title>Angular 1.x code</md-card-title>
        <md-card-subtitle>Type/paste your Angular 1.x code snippet here....</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-input-container style="width: 100%">
          <textarea mdInput mdAutosizeMinRows="8" placeholder="Angular 1.x code..." mdTextareaAutosize [(ngModel)]="oldCode"></textarea>
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary" (click)="convert()">Convert</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card class="example-card" style="width: 90%">
      <md-card-header>
        <md-card-title>Angular 4.x code</md-card-title>
        <md-card-subtitle>Here is your Angular 4.x converted code....</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-input-container style="width: 100%">
          <textarea mdInput readonly mdAutosizeMinRows="8" placeholder="Angular 4.x code..." mdTextareaAutosize [(ngModel)]="newCode"></textarea>
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary">Copy</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>

</md-grid-list>